main{
    padding: 2%;
    width: auto;
    float:none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.campo-texto{
    height: 30px;
    margin: 1% 0%;
    background-color: black;
    border: 3px solid #ff5000;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}

.enviar{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    background-color: #ff5000;
    color: black;
    margin-top: 10px;
    height: 30px;
    width: 90px;
}