.comentario{
    border-radius: 10px;
    border: 5px solid #ffa500;
    margin: 1%;
    padding: 1%;
}

.fotoPerfil{
    width: 70px;
    border: 5px solid #ffa500;
}

.nombreFecha{
    display: inline-block;
    vertical-align: top;
}

.nombreUsuario{
    font-size: 30px;
    line-height: 0%;
}

.contenido{
    text-indent: 10px;
}

.fechaPub{
    color: rgba(255, 165, 0, 0.5);
}